* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:before, :after {
	box-sizing: border-box;
}

button {
	display: block;
	font-family: inherit;
	font-size: inherit;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}

select {
	font-size: inherit;
}

html {
	font-size: 18px;
}

body {
	font-size: 1rem;
	font-family: sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	height: 100vh;
	padding: 80px 0;
}

.mode {
	padding: 5px 20px; 
	cursor: pointer;
}

.letter {
	color: #01579b;
	font-size: 15rem;
	font-weight: bold;
}

.generate-btn {
	color: #fff;
	background-color: #000;
	padding: 15px 40px;
	border-radius: 50px;
	text-transform: uppercase;
	transition: .3s;
}

.generate-btn:hover {
	box-shadow: 2px 2px 5px rgba(0,0,0,.8);
}

.generate-btn:active {
	box-shadow: none;
}